.basket-stile{
    padding-top: 4rem;
    height: 90vh;
}

.basketContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basketContainer h1{

    font-size: 26px;
    font-weight: 400;
}
.basketContainer p{
font-size: 12;
  width: 70vh; 
    text-align: center;
    padding-bottom: 3rem;
}


@media  (max-width: 570px) {
 
    .basket-stile {
        padding-top: 2rem;
        height: 55vh;
    }
    .basketContainer p {
        font-size: 16px;
        width: 40vh;
        text-align: center;
        padding-bottom: 2rem;
    }
}