

  .container-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color:     rgb(0 0 0 / 75%);  
      z-index: 1;
    ;
    z-index: 1;
  }
  
  .logo-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    color: aliceblue;
  }
  
  .logo-header__icon {
    font-size: 20px;
    display: flex;
    gap: 8px;
    padding: 6px;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .logo-header__name {
    font-size: 20px;
    text-transform: uppercase;
    color: aliceblue;
  }
  
  .nav-section {
    display: flex;
    flex-wrap: wrap;

  }
  
  .burger-btn {
    opacity: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-right: 4rem;
    opacity: 1;
  
  }
  
  .nav-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
  }
  
  .nav-menu a:hover {
    cursor: pointer;
    color: rgb(255, 98, 0);    
    text-decoration-line: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(255, 98, 0);
  }
  

.active-link{
  color: rgb(44, 56, 142);
  cursor: default;
}

  @media (max-width: 997px) {
    .container-header {
      flex-direction: row;
     
    }  
    .logo-header__name {
        font-size: 18px;
      }
    .nav-section {
      flex-direction: row-reverse;
      text-align: center;
    }
  
    .burger-btn {
      opacity: 1;
    

    }
    .btn-stile:hover{
      color: orange;
    }

  /* navbar */
    .nav-menu {
      position: absolute;
      left: 0;
      top: 0;
      flex-direction: column;
      display: none;
     
      background: rgba(17, 17, 17, 0.685);
      border: 1px solid rgb(12, 12, 12);
      width: 35%;
      padding: 10rem 3rem;
      gap: 1rem;
      pointer-events: none;
      z-index: 1
    

    }
  
    .nav-menu.active {
     display: flex;
     transform: translateX(0);
      pointer-events: auto;
    }
  
    .nav-menu a {
      padding-top: 1rem;
      font-size: 18px;
      font-weight: 500;
    }
  }


  /* media */
  
  @media  (max-width: 768px){
    .logo-header__icon {
      font-size: 14px;
  }
  .logo-header__name {
    font-size: 16px;
    font-weight: 500;
}
.container-header{
  padding-right: 1rem;
}
  }

  @media (max-width: 340px) {
    .logo-header__name {
        font-size: 13px;
    }
  
  
}