.container{
    display: flex;
   justify-content: center;
    align-items: center;
    padding-top: 5rem;
   
}
.block{
    border: 2px solid black;
    padding: 2rem;
    border-radius: 15px;
    margin: 1rem;

}

.container ui{
    display: flex;
    justify-content: center;
}

.example1{
    display: flex;

    
 
}